.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.item-color {
  color: bisque;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ant-menu-vertical > .ant-menu-item-selected {
  background-color: #011422;
  color: white;
}

/* Basic editor styles */
.tiptap {
  > * + * {
    margin-top: 0.75em;
  }

  ul,
  ol {
    padding: 0 1rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
  }

  code {
    background-color: rgba(#616161, 0.1);
    color: #616161;
  }

  pre {
    background: #0D0D0D;
    color: #FFF;
    font-family: 'JetBrainsMono', monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;

    code {
      color: inherit;
      padding: 0;
      background: none;
      font-size: 0.8rem;
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }

  blockquote {
    padding-left: 1rem;
    border-left: 2px solid rgba(#0D0D0D, 0.1);
  }

  hr {
    border: none;
    border-top: 2px solid rgba(#0D0D0D, 0.1);
    margin: 2rem 0;
  }
}

.low-opacity-become {
  display: grid;
  position: relative;
  isolation: isolate;
  background-color: #8ac7cb;
}

.low-opacity-become::after {
  content: '';
  position: absolute;
  z-index: -1;
  inset: 0;
  opacity: 0.04;
  /* background: #61dafb; */
  background-image: url("./Images/banner.png");
}

.low-opacity-main {
  display: grid;
  position: relative;
  isolation: isolate;
  background-color: #011422;
}

.low-opacity-main::after {
  content: '';
  position: absolute;
  z-index: -1;
  inset: 0;
  opacity: 0.04;
  /* background: #61dafb; */
  background-image: url("./Images/MainBanner.png");
}
