.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.item-color {
  color: bisque;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ant-menu-vertical > .ant-menu-item-selected {
  background-color: #011422;
  color: white;
}

/* Basic editor styles */
.tiptap {
  > * + * {
    margin-top: 0.75em;
  }

  ul,
  ol {
    padding: 0 1rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
  }

  code {
    background-color: rgba(#616161, 0.1);
    color: #616161;
  }

  pre {
    background: #0d0d0d;
    color: #fff;
    font-family: "JetBrainsMono", monospace;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;

    code {
      color: inherit;
      padding: 0;
      background: none;
      font-size: 0.8rem;
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }

  blockquote {
    padding-left: 1rem;
    border-left: 2px solid rgba(#0d0d0d, 0.1);
  }

  hr {
    border: none;
    border-top: 2px solid rgba(#0d0d0d, 0.1);
    margin: 2rem 0;
  }
}

.low-opacity-become {
  display: grid;
  position: relative;
  isolation: isolate;
  background-color: #8ac7cb;
}

.low-opacity-become::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  opacity: 0.04;
  /* background: #61dafb; */
  background-image: url("./Images/banner.png");
}

.low-opacity-whitepaper {
  display: grid;
  position: relative;
  isolation: isolate;
  background-color: #8ac7cb;
  min-height: 650px;
}

.low-opacity-whitepaper::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  opacity: 0.06;
  /* background: #61dafb; */
  background-image: url("./Images/WhitePaperBanner.png");
}

.relay {
  display: grid;
  position: relative;
  isolation: isolate;
  background-color: black;
  min-height: 650px;
}

.relay::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  opacity: 0.08;
  /* background: #61dafb; */
  background-image: url("./Images/Centichain's Relay node of centichain.org.png");
}

.low-opacity-main {
  display: grid;
  position: relative;
  isolation: isolate;
  background-color: #011422;
}

.low-opacity-main::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  opacity: 0.17;
  /* background: #61dafb; */
  background-image: url("./Images/MainPageBanner.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.what-is {
  display: grid;
  position: relative;
  isolation: isolate;
  background-color: white;
  min-height: 600px;
  align-items: center;
  padding: 2px;
}

.what-is::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  opacity: 0.1;
  background-image: url("./Images/Whatis.png");
  background-size: cover;
  background-attachment: fixed;
  min-height: 600px;
  background-position: center;
}

.why {
  display: grid;
  position: relative;
  isolation: isolate;
  background-color: #FFBE88;
  min-height: 600px;
  align-items: center;
  padding: 2px;
}

.why::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  opacity: 0.1;
  background-image: url("./Images/Whatis.png");
  background-size: cover;
  background-attachment: fixed;
  min-height: 600px;
  background-position: center;
}

.who {
  display: grid;
  position: relative;
  isolation: isolate;
  background-color: white;
  min-height: 600px;
  align-items: center;
  padding: 2px;
}

.who::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  opacity: 0.1;
  background-image: url("./Images/WhoRuns.png");
  background-size: cover;
  background-attachment: fixed;
  min-height: 600px;
  background-position: center;
}

.centi {
  display: grid;
  position: relative;
  isolation: isolate;
  background-color: lightgray;
  min-height: 600px;
  align-items: center;
  padding: 2px;
}

.centi::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  opacity: 0.1;
  background-image: url("./Images/WhoRuns.png");
  background-size: cover;
  background-attachment: fixed;
  min-height: 600px;
  background-position: center;
}

.energy {
  display: grid;
  position: relative;
  isolation: isolate;
  background-color: #FFD4D4;
  color: black;
  min-height: 600px;
  align-items: center;
  padding: 2px;
}

.energy::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  opacity: 0.07;
  background-image: url("./Images/Energy.png");
  background-size: cover;
  background-attachment: fixed;
  min-height: 600px;
  background-position: center;
}

.consensus {
  display: grid;
  position: relative;
  isolation: isolate;
  background-color: white;
  color: black;
  min-height: 600px;
  align-items: center;
  padding: 2px;
}

.consensus::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  opacity: 0.07;
  background-image: url("./Images/Energy.png");
  background-size: cover;
  background-attachment: fixed;
  min-height: 600px;
  background-position: center;
}

.sections-light {
  border-radius: 50px;
  border: 0.05px solid #D0D0D0;
  height: auto;
  display: flex;
  align-items: center;
}

.sections-dark {
  display: flex;
  border-radius: 20px;
  border: 1px dashed darkgray;
  height: auto;
  align-items: center;
}

.sections-darker {
  border-radius: 20px;
  border: 1px dashed #282c34;
  height: auto;
}

